# Compiled binaries
*.exe
*.out
sluice1
sluice2
sluice3
coordinator

# Python cache
__pycache__/
*.pyc

# Logs
logs/*.txt
logs/*.json
!logs/.gitkeep

# OS garbage
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp

# VoIP temporary files
voip/*.log

# Installer temp files
*.tmp
